body {
   font-family: Hack, monospace;
}

.quote {
   font-size: 2em;
   padding-top: 3em;
   text-align: center;
}

.quote .text {
   font-weight: bold;
}

.quote .author {
   font-style: italic;
}
