<!doctype html>
<html lang="en">
   <head>
      <title>MVC</title>
      <meta charset="utf-8">
      <meta name="viewport" content="user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="app.css">
   </head>

   <body ng-app="MyApp">
      <div ng-controller="QuoteController" class="quote">
         <div class="text">{{ insightful_quote.text }}</div>
         <div class="author">-{{ insightful_quote.author }}</div>
      </div>
   </body>

   <!-- Load up angular -->
   <script src="bower_components/angular/angular.min.js"></script>

   <!-- Then our app code -->
   <script src="app.js"></script>

   <!-- Cool material design library, which uses jquery -->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</html>

<!-- ideas

Pull in the list of quotes:
<script src="quotes.js"></script>

Add some buttons for next / previous quotes:
<a class="waves-effect waves-light btn">Prev</a>
<a class="waves-effect waves-light btn">Next</a>

Pull in a component which doesn't play nicely with angular (to demonstrate need for $scope.$apply):
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
   <a id="random-button" class="btn-floating btn-large waves-effect waves-light red" href="#" ng-click="random()">
      <i class="large material-icons" ng-click="random()">replay</i>
   </a>
   <ul>
      <li>
         <a id="next-button" class="btn-floating waves-effect waves-light green">
            <i class="material-icons">skip_next</i>
         </a>
      </li>
      <li>
         <a id="prev-button" class="btn-floating waves-effect waves-light green">
            <i class="material-icons">skip_previous</i>
         </a>
      </li>
   </ul>
</div>

Register jquery style event handlers for click events:
$('#random-button').click ->

Introduce <insightful-quote> directive:
<insightful-quote></insightful-quote>

myApp.directive "insightfulQuote", ->
   template: (elem, attr) ->
      "Text: #{attr.text}"

-->
